

@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .c-title {
        font-size: 30px;
    }

    .c-info-item {
        margin: 20px 0px;
        width: 100%;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    /* input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    } */

    button {
        margin-top: 10px;
    }
}